@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@1,100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-size: medium;
}

h3{
    font-size: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

body{
    font-family: 'Playwrite GB S', Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem);
    background-color: blueviolet;
    color: white;
}

header{
    border: 1px solid orange;
}

main{
    border: 1px solid yellow;
    padding: 1%;
}

section{
    border: 1px solid greenyellow;
    margin: 1%;
}

footer{
    border: 1px solid orange;
    text-align: center;
}

input[type="text"],
select,
textarea {
    font-family: 'Playwrite GB S';
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .form_container {
        padding: 10px;
    input[type="text"],
    select,
    textarea {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
    }
}

li{
    display: inline;
    margin: .5rem;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white
}

img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 20%;
    height:auto;
}

.header_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentacion{
    padding: 3% 5%;
    text-align: center;
}

.inicio{
    padding: 3% 5%;
    text-align: center;
}

.form_container {
    font-size: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.maps_container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.grid_fotos{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    gap: 1rem;
    grid-template-areas:
    'foto1 foto2 foto3'
    'foto4 foto5 foto6'
    'foto7 foto7 foto7';
    }

.grid_fotos > div{
    border:1px solid #ff0202
}
@media (max-width: 768px) {
    .grid_fotos {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

